<h1><%= formTitle %></h1>
<form action="/<%= action %>" method="post">
    <input
        type="text"
        name="task"
        id="task"
        placeholder="<%= placeholder %>"
        value="<%= value %>"
    />
    <button id="<%= btnId%>" type="submit"><%= actionBtn %></button>
</form>
